/* Reset CSS */
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

/* Root Variables */
:root {
    --roxo-escuro: #3a0a67;
    --roxo-vibrante: #9747ff;
    --verde-claro: #c1ebc2;
    --verde-opaco: #8ad88c;
    --cinza: #414141;
    --rosa: #e366db;
    --roxo-opaco: #5e199f;
    --black: #000;
    --white: #fff;
}



h1{
    margin: 0.5rem 0;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3;
    color: var(--white);
    margin: 1rem 0;
}

h2 {
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
}

h3 {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem 0;
}

p {
    color: #fff;
    font-weight: 400;
}

section {
    padding: 0 5rem; /* 0 no topo e na base, 4.063rem nas laterais */
    min-height: 100vh;
    background-color: #000;
}

/* Navigation Dots */
#dots {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px var(--white) solid;
    margin: 5px;
    box-shadow: none;
    cursor: pointer;
}

.dot.active {
    background-color: var(--roxo-vibrante);
    border: 2px transparent solid;
}



/* Navigation */
.nav {
    z-index: 1001;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(5px);
    background-color: #9747ff11;
    color: #fff;
    position: fixed;
    width: 100%;
    transition: transform 0.3s ease;
    top: 0;
    left: 0;
}

.nav.open {
    transform: translateY(0);
}

.nav.closed {
    transform: translateY(-100%);
}

#menu {
    cursor: pointer;
}

.logo {
    cursor: pointer;
    padding: 0 2rem;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
}

.nav-list li {
    margin: 0 20px;
    font-size: 15px;
    cursor: pointer;
}

.active {
    border-bottom: 2px solid var(--roxo-escuro);
}

.nav-list i {
    font-size: 1.5rem;
}

.nav-list i:hover {
    transform: scale(1.2);
    transition: 0.3s ease;
}

li a {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 8px 0;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}

li a:hover {
    color: #fff;
    text-decoration: none;
}

li a:before,
a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -2px;
    background: #fff;
}

li a:before {
    left: 0;
}

li a:after {
    right: 0;
    background: linear-gradient(80deg, #87ff8b, #d5b5ff);
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

li a:hover:before {
    background: linear-gradient(80deg, #87ff8b, #d5b5ff);
    width: 110%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

li a:hover:after {
    background: transparent;
    width: 110%;
    transition: 0s;
}

.nav-list button {
    padding: 10px 20px;
    margin: 0 2rem;
    border: none;
    background-color: #9747ff;
    color: #fff;
    font-family: inherit;
    transition: all ease-in .4s;
    cursor: pointer;
    border-radius: 0.3rem;
}

.nav-list button i {
    font-size: 1rem;
}

.nav-list button:hover {
    background-color: #fff;
    color: #3a0a67;
    transform: scale(1.1);
}

/* Home Section */
section.home {
    padding: 0 5rem; /* 0 no topo e na base, 4.063rem nas laterais */
    min-height: 100vh;
    background-color: #000;
    /* z-index: 1000; */ /* Removendo o z-index */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content h2 {
    margin: 1rem 0;
    letter-spacing: 2px;
}

a.btn {
    display: inline-block;
    color: var(--white);
    padding: 0.5rem;
    border-radius: 5px;
    border: var(--white) solid 1px;
    font-size: 0.8rem;
    letter-spacing: 0.04rem;
    transition: 0.3s ease;
    cursor: pointer;
    font-weight: 500;
}

a.btn:hover {
    background-color: var(--roxo-escuro);
    transition: 0.5s ease;
    transform: scale(1.03);
    border: none;
}


/* Services Section */
.services {
    justify-content: center;
    align-items: center;
}

.services .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-wrapper {
    min-height: 100vh;
}

.services .content-reading {
    flex: 1;
}

.skills-title {
    text-align: center;
}

.card-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 3rem 0;
}

.card-section .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 15rem;
    max-width: 100%;
    height: 15rem;
    background: #ffffff8a;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.card-section .card:hover {
    height: 400px;
}

.card-section .card .img-box {
    position: absolute;
    top: 1rem;
    width: 100px;
    height: 100px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.card-section .card:hover .img-box {
    top: -50px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.card-section .card .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-section .card .content {
    position: absolute;
    top: 12rem;
    width: 100%;
    height: 35px;
    padding: 0 3rem;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.card-section .card:hover .content {
    top: 130px;
    height: 250px;
}

.card-section .card .content h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--clr);
}

.card-section .card .content p {
    color: #333;
}

.card-section .card .content a {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    background: var(--clr);
    color: #FFF;
    font-weight: 500;
}

.card-section .card .content a:hover {
    opacity: 0.8;
}

/* Media Queries */
@media (max-width: 480px) {
    .container .card {
        width: 230px;
        border-radius: 15px;
    }

    .container .card .img-box {
        width: 185px;
        border-radius: 10px;
    }

    .container .card .content p {
        font-size: 0.8rem;
    }

    .container .card .content a {
        font-size: 0.9rem;
    }
}

/* Content Reading */
.content-reading p {
    width: 60%;
    margin: 2rem 0;
    color: #fff;
    font-weight: 400;
}

/* Image About */
.image-about img {
    width: 20rem;
}

.image-about img:hover {
    box-shadow: 0 0 25px var(--roxo-vibrante);
    border-radius: 100%;
}

/* Projects Page */

.projects-title {
    padding-top: 5rem;
    padding-bottom: 2rem;
    text-align: center;
}

.projects img {
    height: 80vh;
    width: 100%;
}


