/* Reset CSS */
* {
    margin: 0;
    padding: 0;
}


html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

/* Root Variables */
:root {
    --roxo-escuro: #3a0070;
    --roxo-vibrante: #9747ff;
    --verde-claro: rgb(193, 235, 194);
    --verde-opaco: #8ad88c;
    --cinza: #414141;
    --rosa: rgb(227, 102, 219);
    --roxo-opaco: #5e199f;
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
}

/* scroll dots */
.scroll-indicator-controller {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    right: 20px;
    transition: all 0.4s ease;
    z-index: 2;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1024px) {
    .scroll-indicator-controller {
        right: 10px;
    }
}

.scroll-indicator-controller>div {
    width: 0.6rem;
    height: 0.6rem;
    position: relative;
    border-radius: 50%;
    border: 2px solid var(--white);
    background: transparent;
    margin: 0 0 10px 0;
    cursor: pointer;
    transition: background 0.4s ease;
    will-change: transition;
}

.scroll-indicator-controller>div span {
    color: var(--roxo-vibrante);
    position: absolute;
    right: calc(100% + 8px);
    white-space: nowrap;
    top: -1px;
    font-size: 16px;
    line-height: 17px;
    width: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateX(10px);
    transition: all 0.4s ease;
    will-change: transition;
    color: var(--white);
    font-weight: 600;
}

.scroll-indicator-controller>div span:after {
    content: "-----";
    padding-left: 5px;
    letter-spacing: -2px;
    font-family: arial, sans-serif;
    vertical-align: text-top;
    font-weight: 400;
}

@media (hover: hover) {
    .scroll-indicator-controller>div:hover span {
        width: auto;
        opacity: 1;
        overflow: visible;
        transform: translateX(0px);
    }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .scroll-indicator-controller>div:hover span {
        width: auto;
        opacity: 1;
        overflow: visible;
        transform: translateX(0px);
    }
}

@media (hover: none) {
    .scroll-indicator-controller>div span {
        display: none;
    }
}

.scroll-indicator-controller.indi-mobile>div span {
    display: none;
}

.scroll-indicator-controller>div.active {
    background: var(--roxo-vibrante);

    width: 0.8rem;
    height: 0.8rem;
    border-color: transparent;
}

@supports (-ms-ime-align:auto) {
    .scroll-indicator-controller>div span {
        transition: opacity 0.4s ease;
    }
}


h1 {
    margin: 0.5rem 0;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3;
    color: var(--white);
    margin: 1rem 0;
}

h2 {
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
}

h3 {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem 0;
}

p {
    color: #fff;
    font-weight: 400;
}

section {
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


:root {
    --color-bg1: var(--roxo-escuro);
    --color-bg2: var(--roxo-escuro);
    --color1: 227, 102, 219;
    --color2: 138, 216, 140;
    --color3: 94, 25, 159;
    --color4: 227, 102, 219;
    --color5: 94, 25, 159;
    --color-interactive: 193, 235, 194;
    --circle-size: 80%;
    --blending: hard-light;
}

@keyframes moveInCircle {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveVertical {
    0% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(-50%);
    }
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(-50%) translateY(-10%);
    }

    50% {
        transform: translateX(50%) translateY(10%);
    }

    100% {
        transform: translateX(-50%) translateY(-10%);
    }
}

.gradient-bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(40deg, var(--roxo-escuro), var(--roxo-escuro));
    top: 0;
    left: 0;
    z-index: -1;
}

.gradient-bg svg {
    display: none;
}

.gradient-bg .gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
}

.gradient-bg .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: center center;
    animation: moveVertical 30s ease infinite;
    opacity: 1;
}

.gradient-bg .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;
    opacity: 1;
}

.gradient-bg .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);
    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;
    opacity: 1;
}

.gradient-bg .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;
    opacity: 0.7;
}

.gradient-bg .g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));
    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;
    opacity: 1;
}

.gradient-bg .interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    opacity: 0.7;
}



/* Navigation */
.nav {
    z-index: 1001;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    position: fixed;
    width: 100%;
    transition: transform 0.3s ease;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    background-color: #952ec510;
}

.scroll-bg {

    backdrop-filter: blur(5px);
    background-color: #952ec50d;
    /* Adicione uma sombra se desejar */
}

.nav.open {
    transform: translateY(0);
}

.nav.closed {
    transform: translateY(-100%);
}

#menu {
    cursor: pointer;
}

.logo {
    cursor: pointer;
    padding: 0 2rem;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.nav-list {
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
}

.nav-list li {
    margin: 0 20px;
    font-size: 15px;
    cursor: pointer;
}

.active {
    border-bottom: 2px solid var(--roxo-escuro);
}

.nav-list a i {
    font-size: 1.5rem;
}

.nav-list a i:hover {
    transform: scale(1.2);
    transition: 0.3s ease;
}

.nav-list li a {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 8px 0;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}

.nav-list li a:hover {
    color: #fff;
    text-decoration: none;

}

.nav-list li a:before,
.nav-list a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -2px;
    background: #fff;
}

.nav-list li a:before {
    left: 0;
}

.nav-list li a:after {
    right: 0;
    background: linear-gradient(80deg, #87ff8b, #d5b5ff);
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.nav-list li a:hover:before {
    background: linear-gradient(80deg, #87ff8b, #d5b5ff);
    width: 110%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.nav-list li a:hover:after {
    background: transparent;
    width: 110%;
    transition: 0s;

}

.nav-list button {
    padding: 0.1rem 0.5rem;
    margin: 0 2rem;
    border: none;
    background-color: #9747ff;
    color: #fff;
    transition: all ease-in .4s;
    cursor: pointer;
    border-radius: 0.3rem;
}

.nav-list button a i {
    padding: 2px;
}

.nav-list button a:hover {
    color: var(--roxo-escuro) !important;
    border: none;
}

.nav-list button i {
    font-size: 1rem;
}

.nav-list button:hover {
    background-color: #fff;
    transform: scale(1.1);
}

/* Home Section */
.home {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;

}

#home {
    background: none;
    /* Remova o plano de fundo atual */
    position: relative;
    /* Adicione position: relative para que o gradiente tenha uma referência */
    z-index: 1;
}

.home-content h2 {
    margin: 1rem 0;
    letter-spacing: 2px;
}



.vector-image {
    position: absolute;
    bottom: 3rem;
    /* Margem de 3rem a partir do fundo */
    left: 3rem;
    /* Margem de 3rem da borda esquerda */
}

.vector-image img {
    width: 2.5rem;
    /* Defina a largura máxima conforme necessário */
    height: auto;
    /* Isso garante que a altura seja ajustada automaticamente para manter a proporção */
    animation-name: floating1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


@keyframes floating1 {
    from {
        transform: translate(0, 0px);
    }

    65% {
        transform: translate(0, 0.5rem);
    }

    to {
        transform: translate(0, 0);
    }
}

a.btn {
    display: inline-block;
    color: var(--white);
    padding: 0.5rem;
    border-radius: 5px;
    border: var(--white) solid 1px;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.04rem;
    transition: 0.3s ease;
    cursor: pointer;
    font-weight: 500;
}

a.btn i {
    padding: 2px;
    font-size: 0.7rem;
}

a.btn:hover {
    background-color: var(--roxo-vibrante);
    transition: 0.5s ease;
    transform: scale(1.03);
    border: none;
}


/* Services Section */
.services {
    position: relative;
    /* Adiciona posição relativa para que a posição absoluta funcione dentro */
    padding: 0 5rem;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}




/* Move the .vector-image-3 only to the "services" section */

.vector-image-3 {
    position: absolute;
    /* Altera a posição para absoluta */
    top: 5rem;
    /* Ajusta a distância do topo conforme necessário */
    right: 3rem;
    /* Ajusta a distância da direita conforme necessário */

    height: auto;

}

.vector-image-3 img {
    width: 3rem;
}

.vector-image-2 {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    height: auto;

}

.vector-image-2 img {

    width: 2.5rem;
}

.services .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-wrapper {
    min-height: 100vh;
}

.services .content-reading {
    flex: 1;
}

.services span {
    color: var(--roxo-vibrante);
    font-weight: 600;
}


.skills-title {
    text-align: center;
}



/* Content Reading */
.content-reading p {
    width: 60%;
    margin: 2rem 0;
    color: #fff;
    font-weight: 400;
}

/* Image About */
.image-about img {
    width: 20rem;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from {
        transform: translate(0, 0px);
    }

    65% {
        transform: translate(0, 2rem);
    }

    to {
        transform: translate(0, 1);
    }
}

.image-about img:hover {
    box-shadow: 0 0 25px var(--roxo-vibrante);
    border-radius: 100%;
}

.headind-services{
    text-align: center;
    padding-bottom: 4rem;
}




.services-page{
    position: relative;
    width: 100%;
    height: 90vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}

.vector-image-5{
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    height: auto;
}
    

.vector-image-4{
    position: absolute;
    top: 5rem;
    right: 3rem;
    height: auto;
}

.vector-image-4 img{
    width: 3rem;

}
.vector-image-5 img{
    width: 3rem;
}

.service-container{
    display: flex;
    flex-wrap: nowrap;
    gap: 3rem;
    padding: 0 5rem;
}

.services-box {
    flex: 1 1 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    background: var(--roxo-vibrante);
    padding: 1rem;
    width: 12rem;
    height: 12rem;
    border-radius: 5px;
    border: 3px solid transparent;
    cursor: pointer;
    transition: 0.5s ease;
}

.services-box:hover{
    background-color: var(--roxo-opaco);
    color: var(--black) !important; /* Adicionando a cor do texto no hover */
    transform: scale(1.05);
}

.services-box i{
    text-align: start;
}

@media (max-width: 768px) {
    .service-container {
      flex-direction: column;
      padding: 0 1rem; /* Reduzir o padding para telas menores */
    }
  
    .services-box {
      width: calc(100% - 4rem); 
      height: 5rem;/* Ajustar a largura para ocupar quase toda a largura disponível */
      max-width: 300px; /* Limitar a largura máxima */
      margin-bottom: 2rem; /* Adicionar margem inferior entre os cartões */
    }
  }
  

/* Projects Page */
.projects {
    background: linear-gradient(53deg, #d88ad8, #5e199f, #38026b, #8ad88c);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    min-height: 100vh;
    padding: 0 5rem;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 86% 0%
    }

    50% {
        background-position: 15% 100%
    }

    100% {
        background-position: 86% 0%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 86% 0%
    }

    50% {
        background-position: 15% 100%
    }

    100% {
        background-position: 86% 0%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 86% 0%
    }

    50% {
        background-position: 15% 100%
    }

    100% {
        background-position: 86% 0%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 86% 0%
    }

    50% {
        background-position: 15% 100%
    }

    100% {
        background-position: 86% 0%
    }
}

.projects-title {
    padding-top: 5rem;
    padding-bottom: 1rem;
    text-align: center;
}

.projects img {

    width: 100%;
}


.container .title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
}

.content {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.show-more {
    cursor: pointer;
    color: #607186;
    display: block;
    background-color: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 1) 100%);
}


.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
    opacity: 1;
}

.content-image {
    width: 100%;
    height: 80vh;
    /* Definindo a altura como 80% da altura da viewport */
    object-fit: cover;
    /* Isso garante que a imagem cubra todo o espaço, mantendo sua proporção */
}


.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.content-details p {
    color: #fff;
    font-size: 0.8em;
}

.fadeIn-bottom {
    top: 80%;
}

.projects video {
    width: 100%;
}

.certifications{
    height: 100vh;
}

.skillcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: black;
    height: 100vh;
  }

  .skillcontainer .wrapper{
    width: 70%;
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }
  .skillcontainer .wrapper .card{
    background: #262626;
    width: calc(33% - 20px);
    height: 300px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  }
  .wrapper .card:hover{
    background-color: var(--cinza);
    color: black;
    transform: translateY(-14px);
    transition: background 1s, color 1s, transform 0.5s;
  }
  .skillcontainer .wrapper .card .circle{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    cursor: default;
  }
  .skillcontainer .card .circle .box,
  .skillcontainer .card .circle .box span{
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .skillcontainer .card .circle .box{
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    transition: all 0.2s;
  }
  
  .skillcontainer .card .circle .box span,
  .skillcontainer .wrapper .card .text{
    background: -webkit-linear-gradient(left, var(--roxo-vibrante), var(--rosa));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .skillcontainer .circle .box span{
    font-size: 38px;
    font-family: sans-serif;
    font-weight: 600;
    transform: translate(-45%, -45%);
    transition: all 0.1s;
  }
  .skillcontainer .card .circle:hover .box span{
    transform: translate(-45%, -45%) scale(1.09);
  }
  .skillcontainer .card .text{
    font-size: 20px;
    font-weight: 600;
  }
  @media(max-width: 753px){
    .skillcontainer .wrapper{
      max-width: 700px;
    }
    .skillcontainer  .wrapper .card{
      width: calc(50% - 20px);
      margin-bottom: 20px;
    }
  }
  @media(max-width: 505px){
    .skillcontainer .wrapper{
      max-width: 500px;
    }
    .skillcontainer .wrapper .card{
      width: 100%;
    }
  }


footer.contato{
    background: linear-gradient(53deg,  #38026b, #5e199f,  #8ad88c);
    align-items: center;
    justify-content: center;
    color: var(--white);
    padding:0 7rem;
}

.footer-content{
    align-items: center;
    padding-top: 5rem;

}

.footer-section{
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    display: flex;
    flex-direction: row;
}


.contact-section{
    padding: 1rem 0;
}

.cta{
    margin: 1rem 0;
}

.image-footer img {
    width: 17rem;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from {
        transform: translate(0, 0px);
    }

    65% {
        transform: translate(0, 1rem);
    }

    to {
        transform: translate(0, 1);
    }
}

.image-footer img:hover {
    box-shadow: 0 0 25px var(--roxo-vibrante);
    border-radius: 100%;
    transition: 0.5s ease;
}

.line-1 {
    height: 1px;
    background: var(--white);
    align-items: center;
  }

.footer-section-bt{
    padding: 1rem 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.socials-footer a i{
    padding: 0.3rem;
    font-size: 1.5rem;
    color: var(--white);
}

.socials-footer a i:hover{
    color: var(--rosa);
    transform: scale(1.2);
    transition: 0.5s ease;
}

.cta h3{
    color: var(--verde-claro);
}

.cta i{
    font-size: 1.5rem;
    color: var(--white);
}

.cta i:hover{
    color: var(--rosa);
    transform: scale(1.2);
    transition: 0.5s ease;
}

.footer-image-bt img{
    padding: 0.5rem 0;
    width: 7rem;
}