/* Reset CSS */
* {
    margin: 0;
    padding: 0;
}


html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-family: "Lato", sans-serif;
}

a {
    text-decoration: none;
}

/* Root Variables */
:root {
    --roxo-escuro: #3a0070;
    --roxo-vibrante: #9747ff;
    --verde-claro: rgb(193, 235, 194);
    --verde-opaco: #8ad88c;
    --cinza: #414141;
    --rosa: rgb(227, 102, 219);
    --roxo-opaco: #5e199f;
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
}

/* scroll dots */
.scroll-indicator-controller {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    right: 20px;
    transition: all 0.4s ease;
    z-index: 2;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1024px) {
    .scroll-indicator-controller {
        right: 10px;
    }
}

.scroll-indicator-controller>div {
    width: 0.6rem;
    height: 0.6rem;
    position: relative;
    border-radius: 50%;
    border: 2px solid var(--white);
    background: transparent;
    margin: 0 0 10px 0;
    cursor: pointer;
    transition: background 0.4s ease;
    will-change: transition;
}

.scroll-indicator-controller>div span {
    color: var(--roxo-vibrante);
    position: absolute;
    right: calc(100% + 8px);
    white-space: nowrap;
    top: -1px;
    font-size: 16px;
    line-height: 17px;
    width: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateX(10px);
    transition: all 0.4s ease;
    will-change: transition;
    color: var(--white);
    font-weight: 600;
}

.scroll-indicator-controller>div span:after {
    content: "-----";
    padding-left: 5px;
    letter-spacing: -2px;
    font-family: arial, sans-serif;
    vertical-align: text-top;
    font-weight: 400;
}

@media (hover: hover) {
    .scroll-indicator-controller>div:hover span {
        width: auto;
        opacity: 1;
        overflow: visible;
        transform: translateX(0px);
    }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .scroll-indicator-controller>div:hover span {
        width: auto;
        opacity: 1;
        overflow: visible;
        transform: translateX(0px);
    }
}

@media (hover: none) {
    .scroll-indicator-controller>div span {
        display: none;
    }
}

.scroll-indicator-controller.indi-mobile>div span {
    display: none;
}

.scroll-indicator-controller>div.active {
    background: var(--roxo-vibrante);

    width: 0.8rem;
    height: 0.8rem;
    border-color: transparent;
}

@supports (-ms-ime-align:auto) {
    .scroll-indicator-controller>div span {
        transition: opacity 0.4s ease;
    }
}


h1 {
    margin: 0.5rem 0;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3;
    color: var(--white);
    margin: 1rem 0;
}

h2 {
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
}

h3 {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem 0;
}

p {
    color: #fff;
    font-weight: 400;
}

h4 {
    color: var(--white);
    font-weight: 400;
}

section {

    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    background-position: center;
}


:root {
    --color-bg1: var(--roxo-escuro);
    --color-bg2: var(--roxo-escuro);
    --color1: 227, 102, 219;
    --color2: 138, 216, 140;
    --color3: 94, 25, 159;
    --color4: 227, 102, 219;
    --color5: 94, 25, 159;
    --color-interactive: 193, 235, 194;
    --circle-size: 80%;
    --blending: hard-light;
}

@keyframes moveInCircle {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveVertical {
    0% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(-50%);
    }
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(-50%) translateY(-10%);
    }

    50% {
        transform: translateX(50%) translateY(10%);
    }

    100% {
        transform: translateX(-50%) translateY(-10%);
    }
}

.gradient-bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(40deg, var(--roxo-escuro), var(--roxo-escuro));
    top: 0;
    left: 0;
    z-index: -1;
}

.gradient-bg svg {
    display: none;
}

.gradient-bg .gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
}

.gradient-bg .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: center center;
    animation: moveVertical 30s ease infinite;
    opacity: 1;
}

.gradient-bg .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;
    opacity: 1;
}

.gradient-bg .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);
    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;
    opacity: 1;
}

.gradient-bg .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;
    opacity: 0.7;
}

.gradient-bg .g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));
    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;
    opacity: 1;
}

.gradient-bg .interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    opacity: 0.7;
}


/* Navigation */
.nav {
    z-index: 1000;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Centraliza o contêiner interno horizontalmente */
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
}



.scroll-bg {
    backdrop-filter: blur(5px);
    background-color: rgba(43, 43, 43, 0.267);
    background: rgba(43, 43, 43, 0.267);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.nav.open {
    transform: translateY(0);
}

.nav.closed {
    transform: translateY(-100%);
}



.logo {
    cursor: pointer;
    padding: 0 2rem;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.nav-links {
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
}

.nav-links li {
    margin: 0 20px;
    font-size: 15px;
    cursor: pointer;
}

/* .active {
    border-bottom: 2px solid var(--roxo-escuro);
} */

.nav-links a i {
    font-size: 1.5rem;
}

.nav-links a i:hover {
    transform: scale(1.2);
    transition: 0.3s ease;
}

.nav-links li a {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 8px 0;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}

.socials {
    display: flex;
    flex-direction: row;
}

.nav-links li a:hover {
    transition: 0.3s ease;
    color: var(--roxo-opaco);
    text-decoration: none;
}

.nav-links li a:before,
.nav-links a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -2px;
    background: #fff;
}

.nav-links li a:before {
    left: 0;
}

.nav-linksli a:after {
    right: 0;
    background: linear-gradient(80deg, #87ff8b, #d5b5ff);
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.nav-links li a:hover:before {
    background: linear-gradient(80deg, #87ff8b, #d5b5ff);
    width: 110%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.nav-links li a:hover:after {
    background: transparent;
    width: 110%;
    transition: 0s;
}

.nav-links button {
    padding: 0.1rem 0.5rem;
    margin: 0 2rem;
    border: none;
    background-color: #9747ff;
    color: #fff;
    transition: all ease-in .4s;
    cursor: pointer;
    border-radius: 0.3rem;
}

.nav-links button a i {
    padding: 2px;
}

.nav-links button a:hover {
    color: var(--roxo-escuro) !important;
    border: none;
}

.nav-links button i {
    font-size: 1rem;
}

.nav-links button:hover {
    background-color: #fff;
    transform: scale(1.1);
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    height: 25px;
    margin-right: 1rem;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.hamburger.open .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.open .line2 {
    transition: all 0.7s ease;
    width: 0;
    color: transparent;
}

.hamburger.open .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 800px) {

    .nav-links li a {
        margin: 2rem 0;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        height: 100vh;
        justify-content: center;
        z-index: 1001;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.9);
        background: rgba(0, 0, 0, 0.9);
        transition: transform 0.3s ease, background-color 0.3s ease;
    }

    .socials {
        display: flex;
        flex-direction: row;
    }

    .nav.open-bg {
        background: rgba(0, 0, 0, 0.9);
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        height: max-content;
    }

    .nav-links.open {

        display: flex;
    }

    .hamburger {
        display: flex;
    }
}



/* Home Section */
.home {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;

}

#home {
    background: none;
    /* Remova o plano de fundo atual */
    position: relative;
    /* Adicione position: relative para que o gradiente tenha uma referência */
    z-index: 1;
}

.home-content h2 {
    margin: 1rem 0;
    letter-spacing: 2px;
}




.vector-image {
    position: absolute;
    bottom: 3rem;
    /* Margem de 3rem a partir do fundo */
    left: 3rem;
    /* Margem de 3rem da borda esquerda */
}

.vector-image img {
    width: 2.5rem;
    /* Defina a largura máxima conforme necessário */
    height: auto;
    /* Isso garante que a altura seja ajustada automaticamente para manter a proporção */
    animation-name: floating1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


@keyframes floating1 {
    from {
        transform: translate(0, 0px);
    }

    65% {
        transform: translate(0, 0.5rem);
    }

    to {
        transform: translate(0, 0);
    }
}

a.btn {
    display: inline-block;
    color: var(--white);
    padding: 0.5rem;
    border-radius: 5px;
    border: var(--white) solid 1px;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.04rem;
    transition: 0.3s ease;
    cursor: pointer;
    font-weight: 500;
}

a.btn-1 {
    display: inline-block;
    color: var(--white);
    background-color: var(--roxo-vibrante);
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.04rem;
    transition: 0.3s ease;
    cursor: pointer;
    font-weight: 500;
}

a.btn-1:hover {
    background-color: var(--white);
    color: var(--roxo-escuro);
    transition: 0.5s ease;
    transform: scale(1.03);
    border: none;
}

a.btn i {
    padding: 2px;
    font-size: 0.7rem;
}

a.btn:hover {
    background-color: var(--white);
    color: var(--roxo-escuro);
    transition: 0.5s ease;
    transform: scale(1.03);
    border: none;
}

.fadein {
    opacity: 0;
    transform: translateY(-8rem);
    transition: opacity 2s ease-out, transform 0.6s ease-out;
}

.fadein.visible {
    opacity: 1;
    transform: translateY(0);
}




.services {
    position: relative;
    /* Adiciona posição relativa para que a posição absoluta funcione dentro */
    padding: 0 5rem;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.vector-image-3 {
    position: absolute;
    top: 5rem;
    right: 3rem;
    height: auto;

}

.vector-image-3 img {
    width: 3rem;
}

.vector-image-2 {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    height: auto;

}

.vector-image-2 img {

    width: 2.5rem;
}

.services .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 1400px) {
    .services .content-wrapper {
        width: 100%;
        /* Define a largura total */
        max-width: 1400px;
        /* Define a largura máxima do ul */
        margin: 0 auto;
        /* Centraliza o ul horizontalmente */
        grid-template-columns: repeat(3, 1fr);
        /* 3 colunas de tamanho fixo */
    }
}



.services .content-reading {
    flex: 1;
}

.services span {
    color: var(--roxo-vibrante);
    font-weight: 600;
}


.skills-title {
    text-align: center;
}



/* Content Reading */
.content-reading p {
    width: 60%;
    margin: 2rem 0;
    color: #fff;
    gap: 1rem;
    font-weight: 400;
}

/* Image About */
.image-about img {
    width: 18rem;
    margin: 1rem;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@media (max-width: 840px) {

    .image-about {
        width: calc(100% - 55%);
        display: flex;
        justify-content: center;
        margin: 0 auto;
        /* Center the image horizontally */
    }

    .image-about img {
        align-items: center;
        animation: none;
        width: 100%;
        /* Ensure the image fits within the adjusted width */
    }

    .content-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content-reading {
        text-align: left;
        justify-content: center;
        text-align: center;
        padding: 2rem 0;
        width: calc(100% - 20%);
    }

    .content-reading p {
        width: 100%;
    }

    .services {
        padding: 0 1rem;
    }

    .vector-image {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        height: auto;
    }

    .vector-image-2 {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        height: auto;
    }

    .vector-image-3 {
        position: absolute;
        top: 1rem;
        right: 1rem;
        height: auto;
    }
}

@keyframes floating {
    from {
        transform: translate(0, 0px);
    }

    65% {
        transform: translate(0, 2rem);
    }

    to {
        transform: translate(0, 1);
    }
}

.image-about img:hover {
    box-shadow: 0 0 25px var(--roxo-vibrante);
    border-radius: 100%;
}



.services-page {
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.services-content {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.headind-services {
    text-align: center;
    padding: 5rem 0;
}

.vector-image-4 {
    position: absolute;
    bottom: 0;
    right: 1rem;
    height: auto;
}

.vector-image-4 img {
    width: 3rem;

}

.vector-image-5 img {
    width: 3rem;
}



.card-ferramentas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 2rem;
    flex: 1 1 2rem;
    cursor: pointer;
    transition: 0.5s ease;
}

.card-ferramentas:hover {
    transform: scale(1.05);
}

.ferramentas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 2rem;
}

.service-container {
    display: flex;
    padding: 0 1rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.services-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: transparent;
    background-color: var(--roxo-escuro);
    padding: 1rem;
    max-width: 15rem;
    height: 17rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
    margin: 1rem;
}

.services-box:hover {
    background-color: var(--roxo-opaco);
    color: var(--black) !important;
    /* Adicionando a cor do texto no hover */
    transform: scale(1.05);
}

h4 {
    color: white;
}

.services-box i {
    color: var(--white);
}

@media (max-width: 768px) {
    .service-container {
        flex-direction: column;
        align-items: center;
    }

    .services-box {
        width: calc(100% - 4rem);
        height: fit-content;
        /* Ajustar a largura para ocupar quase toda a largura disponível */
    }
}


section.contato {
    align-items: center;
    justify-content: center;
    color: var(--white);
    padding: 0 5rem;
}

@media (min-width: 1400px) {

    .footer-section {
        width: 100%;
        /* Define a largura total */
        max-width: 1400px;
        /* Define a largura máxima do ul */
        margin: 0 auto;
        /* Centraliza o ul horizontalmente */
    }


}

.footer-content {
    padding-top: 1rem;
}

.footer-section {
    flex: 1 1 2rem;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}


.cta {
    margin: 1rem 0;
}

a.btn-2 {
    display: inline-block;
    color: var(--white);
    padding: 0.5rem;
    border-radius: 5px;
    background-color: var(--roxo-escuro);
    margin: 1rem 0;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.04rem;
    transition: 0.3s ease;
    cursor: pointer;
    font-weight: 500;
}

a.btn-2:hover {
    background-color: var(--white);
    color: var(--roxo-escuro);
    transition: 0.5s ease;
    transform: scale(1.03);
}


.image-footer img {
    width: 10rem;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from {
        transform: translate(0, 0px);
    }

    65% {
        transform: translate(0, 1rem);
    }

    to {
        transform: translate(0, 1);
    }
}

.image-footer img:hover {
    box-shadow: 0 0 25px var(--roxo-vibrante);
    border-radius: 100%;
    transition: 0.5s ease;
}

.line-1 {
    height: 1px;
    background: var(--white);
    align-items: center;
    margin: 0.2rem 0;
}

.footer-section-bt {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.socials-footer a i {
    padding: 0.3rem;
    font-size: 1.5rem;
    color: var(--white);
}

.socials-footer a i:hover {
    color: var(--roxo-vibrante);
    transform: scale(1.2);
    transition: 0.5s ease;
}


.cta i {
    font-size: 1.5rem;
    color: var(--roxo-vibrante);
}

.cta i:hover {
    color: var(--white);
    transform: scale(1.2);
    transition: 0.5s ease;
}

.footer-image-bt img {
    padding: 0.5rem 0;
    width: 7rem;
}

.footer-bottom {
    text-align: center;
    padding: 0.5rem 0;
    font-size: 0.8rem;
    color: grey;

}

.email-text {
    padding: 0.5rem 0;
}

@media (max-width: 768px) {
    .footer-section {
        flex: 1 1 2rem;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .image-footer img {
        animation: none;
        width: 10rem;
    }

    section.contato {
        padding: 0 1rem;
        text-align: center;
    }
}

/* Mixin transition */
.transition {
    transition: var(--transition-property) var(--transition-time) var(--method);
    -webkit-transition: var(--transition-property) var(--transition-time) var(--method);
    -moz-transition: var(--transition-property) var(--transition-time) var(--method);
}

img {
    max-width: 100%;
    height: auto;
    /* Mantém a proporção da imagem */
}

/* PROJECTS */
.projects-title {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.gallery {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}


.gallery ul {
    padding: 0.5rem;
    display: grid;
    /* Usa grid layout */
    gap: 0.5rem;
    /* Espaço entre os itens */
    list-style: none;
    /* Remove os marcadores da lista */
    justify-content: center;
    /* Centraliza o grid horizontalmente */
}

.gallery ul li {
    position: relative;
    overflow: hidden;
    display: flex;
    /* Alinha o conteúdo dentro do item */
    align-items: center;
    /* Centraliza verticalmente */
    justify-content: center;
    /* Centraliza horizontalmente */
}

.gallery ul li a {
    display: block;
    /* Faz com que o link se comporte como um bloco */
    position: relative;
    overflow: hidden;
}

.gallery ul li a:before {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -16px;
    background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Asodipodi%3D%22http%3A//sodipodi.sourceforge.net/DTD/sodipodi-0.dtd%22%20xmlns%3Ainkscape%3D%22http%3A//www.inkscape.org/namespaces/inkscape%22%20inkscape%3Aversion%3D%220.48.4%20r9939%22%20sodipodi%3Adocname%3D%22icon-fullscreen.svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20960%20560%22%0A%09%20enable-background%3D%22new%200%200%20960%20560%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Csodipodi%3Anamedview%20%20borderopacity%3D%221%22%20pagecolor%3D%22%23ffffff%22%20bordercolor%3D%22%23666666%22%20objecttolerance%3D%2210%22%20gridtolerance%3D%2210%22%20guidetolerance%3D%2210%22%20showgrid%3D%22false%22%20fit-margin-top%3D%220%22%20fit-margin-left%3D%220%22%20inkscape%3Azoom%3D%227.375%22%20inkscape%3Acx%3D%22-5.1525424%22%20inkscape%3Acy%3D%2216%22%20id%3D%22namedview11%22%20inkscape%3Awindow-x%3D%22-8%22%20inkscape%3Awindow-y%3D%22-8%22%20fit-margin-right%3D%220%22%20inkscape%3Apageopacity%3D%220%22%20fit-margin-bottom%3D%220%22%20inkscape%3Awindow-width%3D%221366%22%20inkscape%3Awindow-height%3D%22706%22%20inkscape%3Awindow-maximized%3D%221%22%20inkscape%3Apageshadow%3D%222%22%20inkscape%3Acurrent-layer%3D%22svg2%22%3E%0A%09%3C/sodipodi%3Anamedview%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22220%22%20y%3D%22260%22%20fill%3D%22%23FFFFFF%22%20width%3D%22536%22%20height%3D%2224%22/%3E%0A%3C/g%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22476%22%20y%3D%224%22%20fill%3D%22%23FFFFFF%22%20width%3D%2224%22%20height%3D%22556%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A) no-repeat;
    content: '';
    opacity: 0;
    z-index: 1;
    transition: opacity 0.3s ease;
    /* Adiciona uma transição suave para a opacidade */
}

.gallery ul li a:hover:before {
    opacity: 1;
}

.gallery ul li a:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    /* Cor de fundo cinza quase transparente */
    content: '';
    opacity: 0;
    /* Inicialmente invisível */
    transition: opacity 0.3s ease;
    /* Adiciona uma transição suave para a opacidade */
}

.gallery ul li a:hover:after {
    opacity: 1;
    /* Torna visível ao passar o cursor */
}

.gallery ul li a .hover-content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    transition: opacity 0.3s ease;
    /* Transição suave para a opacidade */
    opacity: 0;
    /* Inicialmente invisível */
    width: calc(100% - 20px);
    /* Ajusta a largura com base no padding */
    box-sizing: border-box;
    /* Inclui padding e borda no tamanho total */
}

.gallery ul li a:hover .hover-content {
    opacity: 1;
    /* Torna visível ao passar o cursor */
}

.hover-content h4 {
    margin: 0;
    font-size: 16px;
}

.hover-content .tags {
    margin: 0;
    font-size: 14px;
}

.hover-content .tags span {
    display: inline-block;
    margin-right: 5px;
    padding: 2px 5px;
    background: #444;
    border-radius: 3px;
}

@media (min-width: 1400px) {
    .gallery-container {
        padding: 0;
        /* Remove o padding extra */
    }

    .gallery ul {
        width: 100%;
        /* Define a largura total */
        max-width: 1400px;
        /* Define a largura máxima do ul */
        margin: 0 auto;
        /* Centraliza o ul horizontalmente */
        grid-template-columns: repeat(3, 1fr);
        /* 3 colunas de tamanho fixo */
    }
}

/* Ajuste para telas maiores que 1200px */
@media (min-width: 1200px) {
    .gallery ul {
        grid-template-columns: repeat(3, 1fr);
        /* 3 colunas */
    }
}

/* Ajuste para telas entre 1199px e 700px */
@media (min-width: 700px) and (max-width: 1199px) {
    .gallery ul {
        grid-template-columns: repeat(2, 1fr);
        /* 2 colunas */
    }
}

/* Ajuste para telas menores que 700px */
@media (max-width: 700px) {
    .gallery ul {
        grid-template-columns: repeat(1, 1fr);
        /* 1 coluna */
    }
}